<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sudarshan Jhawar</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show':!isCollapsed}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-me" routerLinkActive="active">About me </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="nav-link" routerLink="/experience" routerLinkActive="active">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a>
      </li>
    </ul>
  </div>
</nav>
